{% extends "/layout.html" %}
{% block title %}Home - Fake Review Detection{% endblock %}
{% block content %}
<div class="index-container text-center mt-8">
    <p class="mt-3">Identify and prevent fake product reviews using advanced opinion mining techniques.</p>
    <a href="/signup" class="btn btn-info mx-3"><b>Sign up</b></a>
    <a href="/login" class="btn btn-primary mx-3"><b>Login</b></a>
</div>
<div class="image-container">
    <img src="static/img1.jpg" class="travel-image">
    <img src="static/img2.png" class="travel-image">
    <img src="static/img3.png" class="travel-image">
    <img src="static/img4.jpeg" class="travel-image">
</div>
{% endblock %}
