<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Fake Review Detection System Web Application{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <style>
    /* Flash message styling */
    .flash-messages {
        width: fit-content;
        margin-top: 80px;
    }
</style>
</head>
<body>
  <header>
    <div class="header-container">    
      <h1 style="color: #FDA481;"><b>Welcome to the Fake Review Detection System<b></h1>
    </div>
  </header>
      <!-- Flash Messages -->
      <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
  <main>
    <div class="content-container">
      {% block content %}{% endblock %}
    </div>
  </main>

  <footer>
    <div class="footer-container">
      <p>&copy; <b>2025 All rights reserved by Muhammad Usama - BC210408075.</b></p>
    </div>
  </footer>
      <!-- JavaScript -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <script>
        // Auto-hide flash messages after 5 seconds
        setTimeout(function () {
            $(".flash-messages .alert").fadeOut("slow");
        }, 1000);
    </script>
</body>
</html>
